*{
  font-family: montserrat !important;
  border-bottom: none !important;
}
#root{
  overflow-x: hidden !important;
}
.gigapoolimage{
  padding: 5px;
}
.glentyTop .gigapoolimage{
  padding: 2px !important;
}
.harvestButton{
width: 85px !important;
}
nav button:last-child{
background-color: white !important;
color: black !important;
font-weight: normal !important;
letter-spacing: 0.11em !important;
}
nav{
transition: 0.4s !important;
background: transparent !important;
}
#root{
background : url("./images/GLENTYPOOL_background_Plan de travail 1 copie 8.svg") !important;
background-position-x: center !important;
background-size:cover !important;
}
nav svg{
  width: 310px !important;
}
@media only screen and (max-width:900px) {
  nav svg{
    width: 120px !important;
  }
}
body{
overflow-x: hidden;
}
.nav-links{
    color: whitesmoke;
    font-size: 20pt;
}
.header-grid{
width: 50%;
display: grid;
text-align: center;
align-items: center;
grid-template-columns: 16% 16% 16% 16% 16% 16%;
margin-left: -8%;
}
.dropbtn {
  background: transparent;
  color: whitesmoke;
  font-size: 20pt;
  border: none;
}
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  min-width: 160px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16pt;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropiv:hover .dropdown-content {display: block;}
.price{
  display: none !important;
  }
    /*.price div{
      color: white;
      font-size: 20pt;
    }*/
    .socialL{
      bottom: 20px;
      right: 20px;
      position: fixed;
    }
    .socialL div svg,.socialL a svg{
      fill: white;
      width: 40px;
    }
    .lang{
        margin-right: -8% !important;
    }

/*page*/
.glentyTop{
margin-left: -30%;
background:url('./images/Fichier 11.svg');
background-repeat: no-repeat;
padding-top: 1%;
}
.headerTitle{
font-size: 56pt;
color: white;
margin-bottom: 5%;
text-align: center;
}
.grid-Glenty,.grid-Out{display:grid;text-align:center;align-items:center;grid-template-columns:45% 45%;width:100%;margin:0 auto;grid-gap:10%;margin-bottom: 18vh;}
.grid-Gigapool,.grid-Out{
display:grid;
 text-align:center;
 align-items:center;
 grid-template-columns:25% 25% 25% 25% 25%;
 width:160%;
 margin-left: -73%;
 grid-gap:3%;
 grid-row-gap:50px;
}
@media only screen and (max-width:1500px){
.nav-links{
  font-size: 14pt !important;
}
.header-grid{
  margin-left: -12% !important;
}
}
@media only screen and (max-width:1100px){
.grid-Gigapool,.grid-Out{
   grid-template-columns:23% 23% 23% 23% !important;
   margin-left: -25% !important;
}

.lang{
  margin-right: 0 !important;
}
.glentyTop{
  margin-left: -25% !important;
}
}
.searchInputG,.searchInputO{
display: block;
border: 0;
outline: 0;
margin-left: -7%;
height: 60px;
border-radius: 25px;
width: 80%;
padding: 15px 5%;
margin-bottom: 5%;
margin-top: 3%;
}
@media only screen and (max-width:900px){
.headingremoved{
  display: none !important;
}
.searchInputG,.searchInputO{
  display: block;
  border: 0;
  outline: 0;
  margin: 5% auto;
  height: 30px;
  border-radius: 25px;
  width: 80%;
  padding: 15px 5%;
}
.details{
  font-size: 8pt !important;
  color: rgb(218,165,32);
}
.glentyTop{
  background: none !important;
  margin-top: 5%;
}
.headerTitle{
  margin-left: 0% !important;
  font-size: 40pt;
  background: none !important;
}
.grid-Glenty,.grid-Out{
   grid-template-columns:80% !important;
   justify-content: center;
   text-align: center;
   align-items: center;
}
.grid-Gigapool,.grid-Out{
  grid-template-columns: 80% !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 0.5% !important;
    width: 100% !important;
    grid-gap: 10px;
}
.glentyTop{
  margin-left: 0% !important;
}
}
@media only screen and (max-width:600px){
.glentyTop{
  background: none !important;
  margin-top: 5%;
  margin-left: -7% !important;
  width: 90% !important;
  margin-right: 7%;
}
.gigapoolTop,.outTop{
  background: none !important;
  margin-top: 5%;
  margin-left: -7% !important;
  width: 90% !important;
  margin-right: 7%;
}
#loading img{
  margin-left: -30% !important;
  margin-top: 50% !important;
  -webkit-user-select: none;
  user-select: none;
}
.price{
  padding: 7px 25px !important;
}
.price img{display: none;}
.price div{
font-size: 15pt !important;
}
}
@media only screen and (max-width:1500px){
.grid-Gigapool,.grid-Out{
   grid-template-columns:25% 25% 25% 25% 25%;
   margin-left: -45%;
   width:120%;
}
}
.gigaTitle{
margin-left: -30%;
background: url('./images/Fichier 11.svg');
background-repeat: no-repeat;
background-position: center;
}
.tokenHeader img{
background-color: white;
border-radius: 50%;
padding: 2px;
width: 80px;
height: 70px;
}
.fixedFooter{
position: fixed;
width: 100%;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
background: url('./images/menu.svg');
height: 100px;
bottom: -21px;
background-repeat: no-repeat;
background-size: cover;
}
.footerLinks{
display: block;
text-align: center;
}
.footerImg{
height: 25px;
width: 25px;
margin: 15% 0% 10% 0%;
}
@media only screen and (min-width:500px){
.footerImg{  
  margin: 8% 0% 8% 0%;
}
}
.footerLinks p{
font-size: 10pt;
font-weight: bold;
color: #989fac;
}

.moreMenu{
position: fixed;
width: 100%;
background: url('./images/menu.svg');
bottom: 75px;
display: none;
grid-template-columns: 100%;
color: #989fac;
font-size: 10pt;
font-weight: bold;
text-align: center;
background-size: cover;
}
.moreLinks{
display: grid;
grid-template-columns: 15% 35%;
text-align: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
width: 80%;
margin: auto;
border-bottom: 3px solid #989fac !important;
}
.moreLinks p{
display: inline-block;
line-height: 1.75;
}
.moreLinks img{
display: inline-block;
margin: 0;
}
#loading{
width: 100% !important;
height: 100% !important;
position: fixed !important;
display: block;
background-color: black;
z-index: 999999999999;
text-align: center;
justify-content: center;
}
#loading img{
width: 250px;
height: 250px;
position: fixed;
margin-top: 20%;
margin-left: -8%;
-webkit-user-select: none;
user-select: none;
}
.calcButton svg path{
fill:rgb(218, 165, 32) !important;
}
@media only screen and (max-width:900px){
.header-grid,.lang{
  display: none;
}
}
@media only screen and (min-width:901px){
.fixedFooter{display: none;}
html{
  zoom: 67%;
}
}

button[aria-label='Toggle menu']{
display: none !important;
}
.earned button,.earned .removeearned{
  display: none !important;
}
.earned h2{
  font-size: 8pt !important;
  width:100%;
  text-align: center;
  margin-top: -20%;
}